{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "//api.discover.getmoni.io"
    }
  ],
  "paths": {
    "/api/v3/analytics/charts/mindshare/projects/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string",
                            "description": "Internal ID of the account in [x.com](https://x.com/)",
                            "example": "1026753750038470658"
                          },
                          "projectTags": {
                            "type": "array",
                            "description": "Tags associated with the account, manually assigned by moderators",
                            "example": [
                              {
                                "slug": "other",
                                "name": "Other"
                              }
                            ],
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "Alpha Hunter"
                                },
                                "logoUrl": {
                                  "type": "string",
                                  "format": "url"
                                }
                              },
                              "required": [
                                "logoUrl",
                                "name"
                              ]
                            }
                          },
                          "value": {
                            "type": "number",
                            "format": "float",
                            "example": 50.4,
                            "description": "The value in percent. It represents the ratio of smart mentions for this account to the total number of smart mentions."
                          },
                          "change": {
                            "type": "number",
                            "format": "float",
                            "example": -12.5,
                            "description": "Represents the ratio of the current mindshare to the mindshare from the previous identical timeframe."
                          }
                        },
                        "required": [
                          "change",
                          "projectTags",
                          "userId",
                          "value"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "forAccountProjectChains",
            "required": false,
            "x-nullable": true,
            "description": "Chains listed comma-separated slugs from `/api/v3/basics/project_chains/`. It will return mindshare only for projects with the specified chains.",
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "forAccountProjectTags",
            "required": false,
            "x-nullable": true,
            "description": "Tags listed comma-separated slugs from `/api/v3/basics/project_categories/`. It will return mindshare only from projects with the specified tags.",
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": true,
            "description": "Maximum number of items to return in a single request",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 20
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": true,
            "description": "The starting index of the first project to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "timeframe",
            "required": false,
            "description": "The timeframe for which to show changes in values.",
            "schema": {
              "type": "string",
              "enum": [
                "H1",
                "H24",
                "D7",
                "D30",
                "D90",
                "D180",
                "Y1"
              ],
              "default": "H24"
            }
          },
          {
            "in": "query",
            "name": "fromSmartAccountsTagCategories",
            "required": false,
            "x-nullable": true,
            "description": "Smart tag categories listed comma-separated slugs from `/api/v3/basics/smart_tag_categories/`. It will return mindshare calculated only from the specified smart categories.",
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "forAccounts",
            "required": false,
            "x-nullable": true,
            "description": "Account handles to get mindshare for. It will return mindshare according to the specified parameters, but the mindshare for the given accounts will be added at the beginning of the list.",
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "🔥 Mindshare"
        ],
        "summary": "Projects Mindshare",
        "description": "\n**Description**: Provides project mindshare analytics.\n\n\n\n**Usage**: Use this endpoint to understand which projects are most discussed by smarts within the selected timeframe.\n\n\nUse `api/v3/basics/project_categories/` to get all available project categories\nUse `api/v3/basics/project_chains/` to get all available project chains.\nUse `api/v3/basics/smart_tag_categories/` to get all available smart tag categories.\n\n\n\n**Usage Cost**: 1 point per project + 50 points per project in the forAccounts parameter\n\n\n**Timeframe**: The time range for the returned data. Possible values:\n- `H1` - Last 1 hour\n\n- `H24` - Last 24 hours\n\n- `D7` - Last 7 days\n\n- `D30` - Last 30 days\n\n- `D90` - Last 90 days\n\n- `D180` - Last 180 days\n\n- `Y1` - Last 1 year"
      }
    },
    "/api/v3/analytics/charts/mindshare/categories/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the category",
                            "example": "AI"
                          },
                          "logoUrl": {
                            "type": "string",
                            "format": "url",
                            "description": "Link to the category’s logo",
                            "example": "https://storage.googleapis.com/moni-twitter-bot/statics/images/project_tag_logo/ai.png"
                          },
                          "value": {
                            "type": "number",
                            "format": "float",
                            "example": 50.4,
                            "description": "The value in percent. It represents the ratio of smart mentions for this category to the total number of smart mentions."
                          },
                          "change": {
                            "type": "number",
                            "format": "float",
                            "example": -12.5,
                            "description": "Represents the ratio of the current mindshare to the mindshare from the previous identical timeframe."
                          }
                        },
                        "required": [
                          "change",
                          "logoUrl",
                          "name",
                          "value"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "forAccountProjectChains",
            "required": false,
            "x-nullable": true,
            "description": "Chains listed comma-separated slugs from `/api/v3/basics/project_chains/`. It will return mindshare only for projects with the specified chains.",
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": true,
            "description": "Maximum number of items to return in a single request",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 20
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": true,
            "description": "The starting index of the first project to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "timeframe",
            "required": false,
            "description": "The timeframe for which to show changes in values.",
            "schema": {
              "type": "string",
              "enum": [
                "H1",
                "H24",
                "D7",
                "D30",
                "D90",
                "D180",
                "Y1"
              ],
              "default": "H24"
            }
          },
          {
            "in": "query",
            "name": "fromSmartAccountsTagCategories",
            "required": false,
            "x-nullable": true,
            "description": "Smart tag categories listed comma-separated slugs from `/api/v3/basics/smart_tag_categories/`. It will return mindshare calculated only from the specified smart categories.",
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "🔥 Mindshare"
        ],
        "summary": "Category Mindshare",
        "description": "\n**Description**: Provides category mindshare analytics.\n\n\n\n**Usage**: Use this endpoint to understand which narratives are most discussed by smart money within the selected timeframe.\n\n\nUse `api/v3/basics/project_categories/` to get all available project categories\nUse `api/v3/basics/project_chains/` to get all available project chains.\nUse `api/v3/basics/smart_tag_categories/` to get all available smart tag categories.\n\n\n\n**Usage Cost**: 1 points per category\n\n\n**Timeframe**: The time range for the returned data. Possible values:\n- `H1` - Last 1 hour\n\n- `H24` - Last 24 hours\n\n- `D7` - Last 7 days\n\n- `D30` - Last 30 days\n\n- `D90` - Last 90 days\n\n- `D180` - Last 180 days\n\n- `Y1` - Last 1 year"
      }
    },
    "/api/v3/analytics/charts/mindshare/chains/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the category",
                            "example": "AI"
                          },
                          "logoUrl": {
                            "type": "string",
                            "format": "url",
                            "description": "Link to the category’s logo",
                            "example": "https://storage.googleapis.com/moni-twitter-bot/statics/images/project_tag_logo/ai.png"
                          },
                          "value": {
                            "type": "number",
                            "format": "float",
                            "example": 50.4,
                            "description": "The value in percent. It represents the ratio of smart mentions for this category to the total number of smart mentions."
                          },
                          "change": {
                            "type": "number",
                            "format": "float",
                            "example": -12.5,
                            "description": "Represents the ratio of the current mindshare to the mindshare from the previous identical timeframe."
                          }
                        },
                        "required": [
                          "change",
                          "logoUrl",
                          "name",
                          "value"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "forAccountProjectTags",
            "required": false,
            "x-nullable": true,
            "description": "Tags listed comma-separated slugs from `/api/v3/basics/project_categories/`. It will return mindshare only from projects with the specified tags.",
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": true,
            "description": "Maximum number of items to return in a single request",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 20
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": true,
            "description": "The starting index of the first project to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "timeframe",
            "required": false,
            "description": "The timeframe for which to show changes in values.",
            "schema": {
              "type": "string",
              "enum": [
                "H1",
                "H24",
                "D7",
                "D30",
                "D90",
                "D180",
                "Y1"
              ],
              "default": "H24"
            }
          },
          {
            "in": "query",
            "name": "fromSmartAccountsTagCategories",
            "required": false,
            "x-nullable": true,
            "description": "Smart tag categories listed comma-separated slugs from `/api/v3/basics/smart_tag_categories/`. It will return mindshare calculated only from the specified smart categories.",
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "🔥 Mindshare"
        ],
        "summary": "Chains Mindshare",
        "description": "\n**Description**: Provides chain mindshare analytics.\n\n\n\n**Usage**: Use this endpoint to understand which chains are most discussed by smart money within the selected timeframe.\n\n\nUse `api/v3/basics/project_categories/` to get all available project categories\nUse `api/v3/basics/project_chains/` to get all available project chains.\nUse `api/v3/basics/smart_tag_categories/` to get all available smart tag categories.\n\n\n\n**Usage Cost**: 1 points per chain\n\n\n**Timeframe**: The time range for the returned data. Possible values:\n- `H1` - Last 1 hour\n\n- `H24` - Last 24 hours\n\n- `D7` - Last 7 days\n\n- `D30` - Last 30 days\n\n- `D90` - Last 90 days\n\n- `D180` - Last 180 days\n\n- `Y1` - Last 1 year"
      }
    },
    "/api/v3/basics/project_categories/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "example": "ai"
                          },
                          "name": {
                            "type": "string",
                            "example": "AI"
                          }
                        },
                        "required": [
                          "name",
                          "slug"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Mindshare Essentials"
        ],
        "summary": "Categories for Mindshare",
        "description": "\n**Description**: Provides all available project categories\n\n\n\n**Usage**: Use this endpoint to get the full list of project categories.\n\n\n\n**Usage Cost**: 0 point"
      }
    },
    "/api/v3/basics/project_chains/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "example": "ethereum"
                          },
                          "name": {
                            "type": "string",
                            "example": "Ethereum"
                          }
                        },
                        "required": [
                          "name",
                          "slug"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Mindshare Essentials"
        ],
        "summary": "Chains for Mindshare",
        "description": "\n**Description**: Provides all available project chains\n\n\n\n**Usage**: Use this endpoint to get the full list of chains.\n\n\n\n**Usage Cost**: 0 point"
      }
    },
    "/api/v3/basics/smart_tag_categories/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "example": "influencers"
                          },
                          "name": {
                            "type": "string",
                            "example": "Influencers"
                          }
                        },
                        "required": [
                          "name",
                          "slug"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Mindshare Essentials"
        ],
        "summary": "Smarts for Mindshare",
        "description": "\n**Description**: Provides all available smart tag categories\n\n\n\n**Usage**: Use this endpoint to get the full list of smart categories.\n\n\n\n**Usage Cost**: 0 point"
      }
    },
    "/api/v3/accounts/{username}/info/full/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "string",
                          "description": "Internal ID of the account in [x.com](https://x.com/)",
                          "example": "1026753750038470658"
                        },
                        "userUrl": {
                          "type": "string",
                          "description": "URL of the account in [x.com](https://x.com/)",
                          "example": "https://x.com/elonmusk"
                        }
                      },
                      "required": [
                        "userId",
                        "userUrl"
                      ]
                    },
                    "smartEngagement": {
                      "type": "object",
                      "properties": {
                        "smartsCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of smarts of the account in [x.com](https://x.com/)",
                          "example": 494
                        },
                        "moniScore": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Account score based on its smarts in [x.com](https://x.com/)",
                          "example": 3718
                        },
                        "mentionsCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total number of mentions of the account in [x.com](https://x.com/)",
                          "example": 2779
                        },
                        "smartMentionsCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of mentions by \"smart\" accounts in [x.com](https://x.com/)",
                          "example": 1761
                        }
                      },
                      "required": [
                        "mentionsCount",
                        "moniScore",
                        "smartMentionsCount",
                        "smartsCount"
                      ]
                    },
                    "smartProfile": {
                      "type": "object",
                      "properties": {
                        "smartTier": {
                          "description": "Tier of the smarts",
                          "allOf": [
                            {
                              "type": "object",
                              "properties": {
                                "tier": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Tiers range from 1 (highest) to 3 (lowest)",
                                  "example": 1
                                },
                                "logoUrl": {
                                  "type": "string",
                                  "example": "https://storage.googleapis.com/moni-twitter-bot/statics/images/score_1.png"
                                }
                              }
                            }
                          ]
                        },
                        "smartTags": {
                          "type": "array",
                          "description": "List of tags manually assigned by moderators",
                          "items": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "example": "alpha-hunter"
                              },
                              "name": {
                                "type": "string",
                                "example": "Alpha Hunter"
                              },
                              "totalCount": {
                                "type": "integer",
                                "format": "int32",
                                "example": 3
                              }
                            },
                            "required": [
                              "name",
                              "slug",
                              "totalCount"
                            ]
                          }
                        },
                        "smartTagCategories": {
                          "type": "array",
                          "description": "List of tag categories manually assigned by moderators",
                          "example": [
                            {
                              "slug": "vc/fund-team",
                              "name": "VC/Fund team"
                            }
                          ],
                          "items": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "example": "alpha-hunter"
                              },
                              "name": {
                                "type": "string",
                                "example": "Alpha Hunter"
                              },
                              "totalCount": {
                                "type": "integer",
                                "format": "int32",
                                "example": 3
                              }
                            },
                            "required": [
                              "name",
                              "slug",
                              "totalCount"
                            ]
                          }
                        },
                        "projectTags": {
                          "type": "array",
                          "description": "Tags associated with the account, manually assigned by moderators",
                          "example": [
                            {
                              "slug": "other",
                              "name": "Other"
                            }
                          ],
                          "items": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "example": "alpha-hunter"
                              },
                              "name": {
                                "type": "string",
                                "example": "Alpha Hunter"
                              },
                              "totalCount": {
                                "type": "integer",
                                "format": "int32",
                                "example": 3
                              }
                            },
                            "required": [
                              "name",
                              "slug",
                              "totalCount"
                            ]
                          }
                        },
                        "chains": {
                          "type": "array",
                          "description": "Blockchain networks the account is associated with",
                          "items": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "example": "ethereum"
                              },
                              "name": {
                                "type": "string",
                                "example": "Ethereum"
                              }
                            },
                            "required": [
                              "name",
                              "slug"
                            ]
                          }
                        },
                        "bioChangesCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Indicates the number of times the user's bio has been changed."
                        }
                      },
                      "required": [
                        "bioChangesCount"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "smartEngagement",
                    "smartProfile"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "description": "The username (handle) of the user in x.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Account Info"
        ],
        "summary": "Full Account Info",
        "description": "\n**Description**: Retrieves **detailed insights** about a specific account using its username.\n\nThe response includes:\n\n  -  **Profile metadata** – ID.\n\n  -  **Engagement metrics** – smarts count, tweet count, mentions.\n\n  -  **Advanced analytics** – number of Smarts, Smart Mentions and **Moni score**.\n\n  -  **Blockchain & category tagging** – identifies the account’s connection to specific blockchains and assigns tags from algorithm or manual classification by moderators & tiers **(tier from 1 to 3)** smart is tagged and assigned by algorithm & moderators\n\nUse this endpoint to analyze **influencers, projects, and community engagement** in Web3.\n\n\n\n**Usage**: Use to extract full information of any specific account including Moni Score & Social Analytics. Get deep insights into any specific account.\n\n\n\n**Usage Cost**: 8 points per request\n    "
      }
    },
    "/api/v3/accounts/{username}/info/meta/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "string",
                          "description": "Internal ID of the account in [x.com](https://x.com/)",
                          "example": "1026753750038470658"
                        },
                        "userUrl": {
                          "type": "string",
                          "description": "URL of the account in [x.com](https://x.com/)",
                          "example": "https://x.com/elonmusk"
                        }
                      },
                      "required": [
                        "userId",
                        "userUrl"
                      ]
                    }
                  },
                  "required": [
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "description": "The username (handle) of the user in x.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Account Info"
        ],
        "summary": "Account Metadata (ID)",
        "description": "\n**Description**: Retrieves **basic profile data** of a specific account using its username.\n\nThe response includes:\n\n  -  **Profile details** – ID.\n\nThis endpoint provides **only account ID** without advanced social analytics.\n\n\n\n**Usage**: Use to fetch account ID.\n\n\n\n**Usage Cost**: 1 points per request\n    "
      }
    },
    "/api/v3/accounts/{username}/info/smart_profile/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "smartProfile": {
                      "type": "object",
                      "properties": {
                        "smartTier": {
                          "description": "Tier of the smarts",
                          "allOf": [
                            {
                              "type": "object",
                              "properties": {
                                "tier": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Tiers range from 1 (highest) to 3 (lowest)",
                                  "example": 1
                                },
                                "logoUrl": {
                                  "type": "string",
                                  "example": "https://storage.googleapis.com/moni-twitter-bot/statics/images/score_1.png"
                                }
                              }
                            }
                          ]
                        },
                        "smartTags": {
                          "type": "array",
                          "description": "List of tags manually assigned by moderators",
                          "items": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "example": "alpha-hunter"
                              },
                              "name": {
                                "type": "string",
                                "example": "Alpha Hunter"
                              },
                              "totalCount": {
                                "type": "integer",
                                "format": "int32",
                                "example": 3
                              }
                            },
                            "required": [
                              "name",
                              "slug",
                              "totalCount"
                            ]
                          }
                        },
                        "smartTagCategories": {
                          "type": "array",
                          "description": "List of tag categories manually assigned by moderators",
                          "example": [
                            {
                              "slug": "vc/fund-team",
                              "name": "VC/Fund team"
                            }
                          ],
                          "items": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "example": "alpha-hunter"
                              },
                              "name": {
                                "type": "string",
                                "example": "Alpha Hunter"
                              },
                              "totalCount": {
                                "type": "integer",
                                "format": "int32",
                                "example": 3
                              }
                            },
                            "required": [
                              "name",
                              "slug",
                              "totalCount"
                            ]
                          }
                        },
                        "projectTags": {
                          "type": "array",
                          "description": "Tags associated with the account, manually assigned by moderators",
                          "example": [
                            {
                              "slug": "other",
                              "name": "Other"
                            }
                          ],
                          "items": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "example": "alpha-hunter"
                              },
                              "name": {
                                "type": "string",
                                "example": "Alpha Hunter"
                              },
                              "totalCount": {
                                "type": "integer",
                                "format": "int32",
                                "example": 3
                              }
                            },
                            "required": [
                              "name",
                              "slug",
                              "totalCount"
                            ]
                          }
                        },
                        "chains": {
                          "type": "array",
                          "description": "Blockchain networks the account is associated with",
                          "items": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "example": "ethereum"
                              },
                              "name": {
                                "type": "string",
                                "example": "Ethereum"
                              }
                            },
                            "required": [
                              "name",
                              "slug"
                            ]
                          }
                        },
                        "bioChangesCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Indicates the number of times the user's bio has been changed."
                        }
                      },
                      "required": [
                        "bioChangesCount"
                      ]
                    }
                  },
                  "required": [
                    "smartProfile"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "description": "The username (handle) of the user in x.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Account Info"
        ],
        "summary": "Account Smart Profile",
        "description": "\n**Description**: Retrieves only **advanced insights** about a specific account, including:\n\n -  **Smart profile analysis** – internal ranking called **Smart Tier** of account influence.\n\n -  **Categorization & tags** – labels assigned algorithmically or manually from our moderators.\n\n -  **Blockchain affiliation** – blockchains associated with the account.\n\n -  **Profile history** – number of bio updates as a signal of behavioral patterns.\n\n**Smart Tier** - is a rank assigned by Moni internal algorithm. There are three tiers based on the \"smart\" account's rating tiers:\n\n1 - 🧠\n\n2 - 🧠🧠\n\n3 - 🧠🧠🧠\n\nThe higher the tier, the greater the account's influence on its audience.\n\n\n\n**Usage**: Use to access an account’s influence & smart audience presence, detect blockchain-linked accounts in the crypto space, categorize profiles based on moderator-assigned tags & tiers.\n\n\n\n**Usage Cost**: 2 points per request\n    "
      }
    },
    "/api/v3/accounts/{username}/info/smart_engagement/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "smartEngagement": {
                      "type": "object",
                      "properties": {
                        "smartsCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of smarts of the account in [x.com](https://x.com/)",
                          "example": 494
                        },
                        "moniScore": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Account score based on its smarts in [x.com](https://x.com/)",
                          "example": 3718
                        },
                        "mentionsCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total number of mentions of the account in [x.com](https://x.com/)",
                          "example": 2779
                        },
                        "smartMentionsCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of mentions by \"smart\" accounts in [x.com](https://x.com/)",
                          "example": 1761
                        }
                      },
                      "required": [
                        "mentionsCount",
                        "moniScore",
                        "smartMentionsCount",
                        "smartsCount"
                      ]
                    }
                  },
                  "required": [
                    "smartEngagement"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "description": "The username (handle) of the user in x.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Account Info"
        ],
        "summary": "Account Smart Engagement",
        "description": "\n**Description**: Retrieves **only advanced engagement analytics** for a specific account, including:\n\n  -  **Smarts count** – how many smarts interacted with this account.\n\n  -  **Moni score** – our internal account score calculated based on smarts.\n\n  -  **Total mentions** – number of times the account was mentioned.\n\n  -  **Smart mentions** – how often it's mentioned by \"smart\" accounts.\n\n\n\n**Usage**: Use this endpoint to analyze an account’s impact, influence, and reach within the smart Web3 community. Identify influential Web3 accounts based on smart audience, measure real engagement vs. bot activity. \n\n\n\n**Usage Cost**: 5 points per request\n    "
      }
    },
    "/api/v3/accounts/{username}/history/smarts_count/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chart": {
                      "type": "array",
                      "description": "List of [Timestamp (UNIX) representing the date, Historical value on this date]",
                      "example": [
                        [
                          1594713600,
                          9219
                        ],
                        [
                          1594713900,
                          9218
                        ]
                      ],
                      "items": {}
                    },
                    "timeframeChange": {
                      "type": "number",
                      "format": "float",
                      "description": "Change in value over the specified timeframe"
                    },
                    "sinceFoundChange": {
                      "type": "number",
                      "format": "float",
                      "description": "Change in value since the account was first identified"
                    },
                    "sinceFound": {
                      "type": "number",
                      "format": "float",
                      "description": "Value at the time the account was first discovered"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "timeframe",
            "required": false,
            "description": "Timeframe",
            "schema": {
              "type": "string",
              "enum": [
                "H1",
                "H24",
                "D7",
                "D30",
                "D90",
                "D180",
                "Y1"
              ],
              "default": "H24"
            }
          },
          {
            "in": "path",
            "name": "username",
            "required": true,
            "description": "The username (handle) of the user in x.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "History"
        ],
        "summary": "Smarts History",
        "description": "\n**Description**: Provides **historical data** on the number of **smarts** (manually curated by moderators) associated/interacted with a specific account.\n\n  -  **Graph-ready data** – structured for **date vs. smarts count** visualization.\n\n  -  **Smart change tracking** – see new additions & removals over time.\n\n  -  **Custom timeframes** – query by last **1H, 24H, 7D, 30D, 90D, 180D, or 1Y**.\n\n\n\n**Usage**: Use this endpoint to analyze long or short-term smarts attention growth trends & dynamics. Build historical charts of smarts. Identify growth spikes & declines over time. Compare smart trends across different timeframes.\n\n\n\n**Usage Cost**: 4 points per request\n\n\n**Timeframe**: The time range for the returned data. Possible values:\n- `H1` - Last 1 hour\n\n- `H24` - Last 24 hours\n\n- `D7` - Last 7 days\n\n- `D30` - Last 30 days\n\n- `D90` - Last 90 days\n\n- `D180` - Last 180 days\n\n- `Y1` - Last 1 year"
      }
    },
    "/api/v3/accounts/{username}/history/mentions_count/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chart": {
                      "type": "array",
                      "description": "List of [Timestamp (UNIX) representing the date, Historical value on this date]",
                      "example": [
                        [
                          1594713600,
                          9219
                        ],
                        [
                          1594713900,
                          9218
                        ]
                      ],
                      "items": {}
                    },
                    "timeframeChange": {
                      "type": "number",
                      "format": "float",
                      "description": "Change in value over the specified timeframe"
                    },
                    "sinceFoundChange": {
                      "type": "number",
                      "format": "float",
                      "description": "Change in value since the account was first identified"
                    },
                    "sinceFound": {
                      "type": "number",
                      "format": "float",
                      "description": "Value at the time the account was first discovered"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "timeframe",
            "required": false,
            "description": "Timeframe",
            "schema": {
              "type": "string",
              "enum": [
                "H1",
                "H24",
                "D7",
                "D30",
                "D90",
                "D180",
                "Y1"
              ],
              "default": "H24"
            }
          },
          {
            "in": "path",
            "name": "username",
            "required": true,
            "description": "The username (handle) of the user in x.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "History"
        ],
        "summary": "Mentions History",
        "description": "\n**Description**: Provides **historical data** on the **total number of mentions** for a specific account.\n\n  -  **Graph-ready data** – structured for **date vs. mention count** visualization.\n\n  -  **Change tracking** – see how mention frequency evolves over time.\n\n  -  **Custom timeframes** – query by last **1H, 24H, 7D, 30D, 90D, 180D, or 1Y**.\n\n\n\n**Usage**: Use this endpoint to analyze audience engagement trends and detect spikes in attention. Build historical mention charts for tracking engagement. Identify sudden spikes in visibility (viral moments, controversy, promotions). Compare mentions of trends across different timeframes.\n\n\n\n**Usage Cost**: 2 points per request\n\n\n**Timeframe**: The time range for the returned data. Possible values:\n- `H1` - Last 1 hour\n\n- `H24` - Last 24 hours\n\n- `D7` - Last 7 days\n\n- `D30` - Last 30 days\n\n- `D90` - Last 90 days\n\n- `D180` - Last 180 days\n\n- `Y1` - Last 1 year"
      }
    },
    "/api/v3/accounts/{username}/history/smart_mentions_count/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chart": {
                      "type": "array",
                      "description": "List of [Timestamp (UNIX) representing the date, Historical value on this date]",
                      "example": [
                        [
                          1594713600,
                          9219
                        ],
                        [
                          1594713900,
                          9218
                        ]
                      ],
                      "items": {}
                    },
                    "timeframeChange": {
                      "type": "number",
                      "format": "float",
                      "description": "Change in value over the specified timeframe"
                    },
                    "sinceFoundChange": {
                      "type": "number",
                      "format": "float",
                      "description": "Change in value since the account was first identified"
                    },
                    "sinceFound": {
                      "type": "number",
                      "format": "float",
                      "description": "Value at the time the account was first discovered"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "timeframe",
            "required": false,
            "description": "Timeframe",
            "schema": {
              "type": "string",
              "enum": [
                "H1",
                "H24",
                "D7",
                "D30",
                "D90",
                "D180",
                "Y1"
              ],
              "default": "H24"
            }
          },
          {
            "in": "path",
            "name": "username",
            "required": true,
            "description": "The username (handle) of the user in x.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "History"
        ],
        "summary": "Smart Mentions History",
        "description": "\n**Description**: Provides **historical data** on the number of **Smart Mentions** for a specific account. These mentions come from **\"smart\" accounts**, manually curated by moderators.\n\n  -  **Graph-ready data** – structured for **date vs. mention** count visualization.\n\n  -  **Smart mentions tracking** – see how often key accounts reference this profile.\n\n  -  **Custom timeframes** – query by last **1H, 24H, 7D, 30D, 90D, 180D, or 1Y**.\n\n\n\n**Usage**: Use this endpoint to analyze engagement from influential users and track shifts in relevance within the smart audience. Monitor mentions from high-value, curated accounts. Identify spikes in attention from smart users. Compare smart mentions across different timeframes.\n\n\n\n**Usage Cost**: 4 points per request\n\n\n**Timeframe**: The time range for the returned data. Possible values:\n- `H1` - Last 1 hour\n\n- `H24` - Last 24 hours\n\n- `D7` - Last 7 days\n\n- `D30` - Last 30 days\n\n- `D90` - Last 90 days\n\n- `D180` - Last 180 days\n\n- `Y1` - Last 1 year"
      }
    },
    "/api/v3/accounts/{username}/smarts/full/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "The list of Smarts",
                      "items": {
                        "type": "object",
                        "properties": {
                          "meta": {
                            "type": "object",
                            "properties": {
                              "userId": {
                                "type": "number",
                                "description": "Internal ID of the account on [x.com](http://x.com/)",
                                "example": "14379660"
                              },
                              "userUrl": {
                                "type": "string",
                                "description": "URL of the account in [x.com](https://x.com/)",
                                "example": "https://x.com/elonmusk"
                              }
                            },
                            "required": [
                              "userUrl"
                            ]
                          },
                          "smartEngagement": {
                            "type": "object",
                            "properties": {
                              "interactedAt": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Date and time the smart was added",
                                "example": 1708135452
                              },
                              "moniScore": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Account score based on its smarts in [x.com](https://x.com/)",
                                "example": 25147
                              },
                              "mentionsCount": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Total number of mentions of the account on [x.com](http://x.com/)",
                                "example": 6313
                              },
                              "smartMentionsCount": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Total number of mentions from \"smart\" accounts on [x.com](http://x.com/)",
                                "example": 4744
                              },
                              "smartsCount": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of smarts of the account on [x.com](http://x.com/)",
                                "example": 2396
                              }
                            },
                            "required": [
                              "mentionsCount",
                              "moniScore",
                              "smartMentionsCount",
                              "smartsCount"
                            ]
                          },
                          "smartProfile": {
                            "type": "object",
                            "properties": {
                              "smartTier": {
                                "description": "Tier of the smart",
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "tier": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Tiers range from 1 (highest) to 3 (lowest)",
                                        "example": 1
                                      },
                                      "logoUrl": {
                                        "type": "string",
                                        "example": "https://storage.googleapis.com/moni-twitter-bot/statics/images/score_1.png"
                                      }
                                    }
                                  }
                                ]
                              },
                              "smartTags": {
                                "type": "array",
                                "description": "List of tags manually assigned by moderators",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "slug": {
                                      "type": "string",
                                      "example": "influencer"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "Influencer"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "slug"
                                  ]
                                }
                              },
                              "smartTagCategories": {
                                "type": "array",
                                "description": "List of tag categories manually assigned by moderators",
                                "example": [
                                  {
                                    "slug": "vc/fund-team",
                                    "name": "VC/Fund team"
                                  }
                                ],
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "slug": {
                                      "type": "string",
                                      "example": "influencer"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "Influencer"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "slug"
                                  ]
                                }
                              },
                              "projectTags": {
                                "type": "array",
                                "description": "Tags associated with the account, manually assigned by moderators",
                                "example": [
                                  {
                                    "slug": "other",
                                    "name": "Other"
                                  }
                                ],
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "slug": {
                                      "type": "string",
                                      "example": "influencer"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "Influencer"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "slug"
                                  ]
                                }
                              },
                              "chains": {
                                "type": "array",
                                "description": "Blockchain networks the account is associated with",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "slug": {
                                      "type": "string",
                                      "example": "ethereum"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "Ethereum"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "slug"
                                  ]
                                }
                              },
                              "bioChangesCount": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Indicates the number of times the user's bio has been changed."
                              }
                            },
                            "required": [
                              "bioChangesCount"
                            ]
                          }
                        },
                        "required": [
                          "meta",
                          "smartEngagement",
                          "smartProfile"
                        ]
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of Smarts"
                    }
                  },
                  "required": [
                    "items",
                    "totalCount"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of items to return in a single request",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "The starting index of the first smarts to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "required": false,
            "description": "Determines the sorting criteria for smarts. Supported values: `CREATED_AT` Sort by the date the smart was added; `SCORE` Sort by the moni score on discover.getmoni.io.; `FOLLOWERS_COUNT` Sort by the total number of followers. `SMARTS_COUNT` Sort by the number of smarts.",
            "schema": {
              "type": "string",
              "enum": [
                "CREATED_AT",
                "SCORE",
                "FOLLOWERS_COUNT",
                "SMARTS_COUNT"
              ],
              "default": "CREATED_AT"
            }
          },
          {
            "in": "query",
            "name": "orderByDirection",
            "required": false,
            "description": "Sorting direction for orderBy. Supported values: `DESC` means descending order; `ASC` means ascending order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            }
          },
          {
            "in": "query",
            "name": "categories",
            "required": false,
            "description": "Filters \"smart\" by the specified categories. Categories should be provided as a comma-separated list. A full list of available categories can be retrieved via `/api/v3/accounts/{username}/smarts/categories/`",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "in": "path",
            "name": "username",
            "required": true,
            "description": "The username (handle) of the user in x.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Smarts"
        ],
        "summary": "Smarts Full Info",
        "description": "\n**Description**: Retrieves the complete list of smarts for a given specific account, providing detailed information about each smart.\n\n  -  **Advanced analytics** – number of Smarts, Smart Mentions and **Moni score**.\n\n  -  **Blockchain & category tagging** – identifies the account’s connection to specific blockchains and assigns tags from algorithm or manual classification by moderators & tiers **(tier from 1 to 3)** smart is tagged and assigned by algorithm & moderators.\n\n \n\n Order results by **interaction date, moni score or smarts count, category**. The endpoint has **limits** – up to **100 Smarts in the list per request**.\n\n\n\n**Usage**: Use endpoint to retrieve detailed analytics on an account’s smarts. Filter & sort smarts based on influence and engagement. Build custom leaderboards & audience segmentation.\n\n\n\n**Usage Cost**: 5 points per request\n    "
      }
    },
    "/api/v3/accounts/{username}/smarts/meta/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "The list of Smarts",
                      "items": {
                        "type": "object",
                        "properties": {
                          "meta": {
                            "type": "object",
                            "properties": {
                              "userId": {
                                "type": "number",
                                "description": "Internal ID of the account on [x.com](http://x.com/)",
                                "example": "14379660"
                              },
                              "userUrl": {
                                "type": "string",
                                "description": "URL of the account in [x.com](https://x.com/)",
                                "example": "https://x.com/elonmusk"
                              }
                            },
                            "required": [
                              "userUrl"
                            ]
                          }
                        },
                        "required": [
                          "meta"
                        ]
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of Smarts"
                    }
                  },
                  "required": [
                    "items",
                    "totalCount"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of items to return in a single request",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "The starting index of the first smarts to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "required": false,
            "description": "Determines the sorting criteria for smarts. Supported values: `CREATED_AT` Sort by the date the smart was added; `SCORE` Sort by the moni score on discover.getmoni.io.; `FOLLOWERS_COUNT` Sort by the total number of followers. `SMARTS_COUNT` Sort by the number of smarts.",
            "schema": {
              "type": "string",
              "enum": [
                "CREATED_AT",
                "SCORE",
                "FOLLOWERS_COUNT",
                "SMARTS_COUNT"
              ],
              "default": "CREATED_AT"
            }
          },
          {
            "in": "query",
            "name": "orderByDirection",
            "required": false,
            "description": "Sorting direction for orderBy. Supported values: `DESC` means descending order; `ASC` means ascending order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            }
          },
          {
            "in": "query",
            "name": "categories",
            "required": false,
            "description": "Filters \"smart\" by the specified categories. Categories should be provided as a comma-separated list. A full list of available categories can be retrieved via `/api/v3/accounts/{username}/smarts/categories/`",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "in": "path",
            "name": "username",
            "required": true,
            "description": "The username (handle) of the user in x.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Smarts"
        ],
        "summary": "Smarts Metadata (ID)",
        "description": "\n**Description**: Retrieves **a list of all smarts** for a given specific account, providing only basic profile data:\n\n  -  **Profile details** – ID.\n\n\n\nOrder results by **interaction date, moni score or smarts count, category**. The endpoint has **limits** – up to **100 Smarts in the list per request**.\n\n\n\n**Usage**: Use to fetch a simple list of smarts with key profile details. Filter & sort smarts by relevance, growth, or influence. Use for quick lookups and bulk audience processing. \n\n\n\n**Usage Cost**: 1 point per request\n    "
      }
    },
    "/api/v3/accounts/{username}/smarts/smart_profile/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "The list of Smarts",
                      "items": {
                        "type": "object",
                        "properties": {
                          "smartProfile": {
                            "type": "object",
                            "properties": {
                              "smartTier": {
                                "description": "Tier of the smart",
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "tier": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Tiers range from 1 (highest) to 3 (lowest)",
                                        "example": 1
                                      },
                                      "logoUrl": {
                                        "type": "string",
                                        "example": "https://storage.googleapis.com/moni-twitter-bot/statics/images/score_1.png"
                                      }
                                    }
                                  }
                                ]
                              },
                              "smartTags": {
                                "type": "array",
                                "description": "List of tags manually assigned by moderators",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "slug": {
                                      "type": "string",
                                      "example": "influencer"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "Influencer"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "slug"
                                  ]
                                }
                              },
                              "smartTagCategories": {
                                "type": "array",
                                "description": "List of tag categories manually assigned by moderators",
                                "example": [
                                  {
                                    "slug": "vc/fund-team",
                                    "name": "VC/Fund team"
                                  }
                                ],
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "slug": {
                                      "type": "string",
                                      "example": "influencer"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "Influencer"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "slug"
                                  ]
                                }
                              },
                              "projectTags": {
                                "type": "array",
                                "description": "Tags associated with the account, manually assigned by moderators",
                                "example": [
                                  {
                                    "slug": "other",
                                    "name": "Other"
                                  }
                                ],
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "slug": {
                                      "type": "string",
                                      "example": "influencer"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "Influencer"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "slug"
                                  ]
                                }
                              },
                              "chains": {
                                "type": "array",
                                "description": "Blockchain networks the account is associated with",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "slug": {
                                      "type": "string",
                                      "example": "ethereum"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "Ethereum"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "slug"
                                  ]
                                }
                              },
                              "bioChangesCount": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Indicates the number of times the user's bio has been changed."
                              }
                            },
                            "required": [
                              "bioChangesCount"
                            ]
                          }
                        },
                        "required": [
                          "smartProfile"
                        ]
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of Smarts"
                    }
                  },
                  "required": [
                    "items",
                    "totalCount"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of items to return in a single request",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "The starting index of the first smarts to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "required": false,
            "description": "Determines the sorting criteria for smarts. Supported values: `CREATED_AT` Sort by the date the smart was added; `SCORE` Sort by the moni score on discover.getmoni.io.; `FOLLOWERS_COUNT` Sort by the total number of followers. `SMARTS_COUNT` Sort by the number of smarts.",
            "schema": {
              "type": "string",
              "enum": [
                "CREATED_AT",
                "SCORE",
                "FOLLOWERS_COUNT",
                "SMARTS_COUNT"
              ],
              "default": "CREATED_AT"
            }
          },
          {
            "in": "query",
            "name": "orderByDirection",
            "required": false,
            "description": "Sorting direction for orderBy. Supported values: `DESC` means descending order; `ASC` means ascending order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            }
          },
          {
            "in": "query",
            "name": "categories",
            "required": false,
            "description": "Filters \"smart\" by the specified categories. Categories should be provided as a comma-separated list. A full list of available categories can be retrieved via `/api/v3/accounts/{username}/smarts/categories/`",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "in": "path",
            "name": "username",
            "required": true,
            "description": "The username (handle) of the user in x.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Smarts"
        ],
        "summary": "Smarts Smart Profile",
        "description": "\n**Description**: Retrieves **a list of all Smarts** for a given specific account, focusing on **tier classification and tagging**.\n\n -  **Smart profile analysis** – internal ranking called **Smart Tier** of account influence.\n\n -  **Categorization & tags** – labels assigned algorithmically or manually from our moderators.\n\n -  **Blockchain affiliation** – blockchains associated with the account.\n\n -  **Profile history** – number of bio updates as a signal of behavioral patterns.\n\n**Smart Tier** - is a rank assigned by Moni internal algorithm. There are three tiers based on the \"smart\" account's rating tiers:\n\n1 - 🧠\n\n2 - 🧠🧠\n\n3 - 🧠🧠🧠\n\nThe higher the tier, the greater the account's influence on its audience.\n\n\n\nOrder results by **interaction date, moni score or smarts count, category**. The endpoint has **limits** – up to **100 Smarts in the list per request**.\n\n\n\n**Usage**: This endpoint is ideal for segmenting smarts based on influence and niche. Retrieve tiered lists of smarts for influence analysis. Filter & sort smart by tags, score, and engagement level. Use for audience segmentation and targeted outreach.\n\n\n\n**Usage Cost**: 1 point per request\n    "
      }
    },
    "/api/v3/accounts/{username}/smarts/smart_engagement/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "The list of Smarts",
                      "items": {
                        "type": "object",
                        "properties": {
                          "smartEngagement": {
                            "type": "object",
                            "properties": {
                              "interactedAt": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Date and time the smart was added",
                                "example": 1708135452
                              },
                              "moniScore": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Account score based on its smarts in [x.com](https://x.com/)",
                                "example": 25147
                              },
                              "mentionsCount": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Total number of mentions of the account on [x.com](http://x.com/)",
                                "example": 6313
                              },
                              "smartMentionsCount": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Total number of mentions from \"smart\" accounts on [x.com](http://x.com/)",
                                "example": 4744
                              },
                              "smartsCount": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of smarts of the account on [x.com](http://x.com/)",
                                "example": 2396
                              }
                            },
                            "required": [
                              "mentionsCount",
                              "moniScore",
                              "smartMentionsCount",
                              "smartsCount"
                            ]
                          }
                        },
                        "required": [
                          "smartEngagement"
                        ]
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of Smarts"
                    }
                  },
                  "required": [
                    "items",
                    "totalCount"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of items to return in a single request",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "The starting index of the first smarts to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "required": false,
            "description": "Determines the sorting criteria for smarts. Supported values: `CREATED_AT` Sort by the date the smart was added; `SCORE` Sort by the moni score on discover.getmoni.io.; `FOLLOWERS_COUNT` Sort by the total number of followers. `SMARTS_COUNT` Sort by the number of smarts.",
            "schema": {
              "type": "string",
              "enum": [
                "CREATED_AT",
                "SCORE",
                "FOLLOWERS_COUNT",
                "SMARTS_COUNT"
              ],
              "default": "CREATED_AT"
            }
          },
          {
            "in": "query",
            "name": "orderByDirection",
            "required": false,
            "description": "Sorting direction for orderBy. Supported values: `DESC` means descending order; `ASC` means ascending order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            }
          },
          {
            "in": "query",
            "name": "categories",
            "required": false,
            "description": "Filters \"smart\" by the specified categories. Categories should be provided as a comma-separated list. A full list of available categories can be retrieved via `/api/v3/accounts/{username}/smarts/categories/`",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "in": "path",
            "name": "username",
            "required": true,
            "description": "The username (handle) of the user in x.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Smarts"
        ],
        "summary": "Smarts Engagement",
        "description": "\n**Description**: Retrieves **a list of all Smarts** for a given specific account, focusing on **engagement and influence metrics of Smarts such as**:\n\n  -  **Smarts count** – how many \"smart\" users interacted with this account.\n\n  -  **Moni score** – our internal account score calculated based on smarts.\n\n  -  **Total mentions** – number of times the account was mentioned.\n\n  -  **Smart mentions** – how often it's mentioned by \"smart\" accounts.\n\n\n\nOrder results by **interaction date, moni score, or category**. The endpoint has **limits** – up to **100 Smarts in the list per request**. This endpoint is useful for **analyzing the activity, relevance, and network strength of an account**.\n\n\n\n**Usage**: This endpoint is useful for analyzing the activity, relevance, and network strength of an account. Use it to Identify highly engaged accounts based on their own smart mentions &  smarts network. Use for targeted influencer analysis & outreach.\n\n\n\n**Usage Cost**: 3 points per request\n    "
      }
    },
    "/api/v3/accounts/{username}/smarts/distribution/level/": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "The list of Smart Followers levels",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "level": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "itemsCount": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "description": "The username (handle) of the user in x.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Smarts"
        ],
        "summary": "Smarts Tiers",
[...]
